.day {
  font-size: var(--fs-h1);
  align-self: center;
  justify-self: center;
}
.description {
  font-size: var(--fs-h1);
}


.forecast-title{
  font-size: var(--fs-h1);
}
.forecast-weather-title,
.forecast-day {
  animation: slideUpIn 780ms forwards;
}
.forecast-day:nth-child(1) {
  animation-delay: 100ms;
}
.forecast-day:nth-child(2) {
  animation-delay: 125ms;
}
.forecast-day:nth-child(3) {
  animation-delay: 150ms;
}
.forecast-day:nth-child(4) {
  animation-delay: 175ms;
}
.forecast-day:nth-child(5) {
  animation-delay: 200ms;
}
.forecast-day:nth-child(5) {
  border-right: none;
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// 320px — 480px: Mobile devices.
@media only screen and (min-width:300px) and (max-width:480px){
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  
  }
  .forecast-day {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
   border-bottom: 3px solid var(--clr-accent);


  }
  .forecast-day:nth-child(5) {
    border-bottom: none;
  }
  .icon{
    --size: 5rem;
    width: var(--size);
    height: var(--size);
     }
 
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width:481px) {
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
      padding: 25px 0px;
    grid-gap: 30px;
  }
  .forecast-day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
      padding-right: 50px;
    border-bottom: 3px solid var(--clr-accent);
    padding-bottom: 20px;
  }

}

@media only screen and (max-width: 599px) {
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
     padding: 25px 0px;
    grid-gap: 30px;
  }
  .forecast-day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-right:50px;
    border-bottom: 3px solid var(--clr-accent);
    padding-bottom: 10px;
  }
  .forecast-day:nth-child(5) {
    border-bottom: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    text-align: center;
    padding: 10px 0px;
  }
  .forecast-day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-right: 30px;
    border-bottom: 3px solid var(--clr-accent);
    padding-bottom: 5px;
  }
  .forecast-day:nth-child(5) {
    border-bottom: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 0px;
  }
  .forecast-day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-right: 50px;
    border-bottom: 3px solid var(--clr-accent);
    padding-bottom: 10px;
  }
  .forecast-day:nth-child(5) {
    border-bottom: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
      }
  .forecast-day {
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--clr-accent);
    border-bottom: none;
    padding-right: 10px;
    padding-left: 10px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .forecast-days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
  }
  .forecast-day {
    border-right: 3px solid var(--clr-accent);
    padding-right: 30px;
    padding-left: 40px;
  }
  .icon{
    padding: 0;
    margin: 0;
  }
  .forecast-day:nth-child(4) {
    border-right: 3px solid var(--clr-accent);
  }
  .forecast-day:nth-child(2) {
    border-right: 3px solid var(--clr-accent);
  }
  .forecast-day:nth-child(3) {
    border-right: 3px solid var(--clr-accent);
  }
}
