.container {
  display: flex;
  // justify-content: space-between;
  padding: 30px ;
  grid-gap: 60px;
  margin: 0;
}

.date {
  h2 {
    font-size: var(--fs-xl);
    margin: 0;
  }
  .country {
    font-size: var(--fs-h2);
  }
  h1 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-light);
  }
  p {
    font-size: var(--fs-h2);
    margin: 0;
    color: var(--clr-gray);
  }
}

.temp {
  --border: solid 0.25em var(--clr-accent);
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}

.Icon {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
  padding: 0;
}
