// .previous-days {
//   display: flex;
//   flex-direction: column;
//   justify-content:flex-start;
// }
// .previous-day{
//   display: flex;
//  justify-content: space-evenly;
//  padding: 0px 20px;
//  border-bottom: 2px solid var(--clr-accent);
//  align-items: center;
// }
// .previous-day:nth-child(5) {
//   border-bottom: none;
// }
// .icon{
//   // padding: 0 50px;
//   align-self: center;
// }

.previous-days {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 50px 18px;
  grid-gap: 5px;
}

.previous-day {
  border-right: 3px solid var(--clr-accent);
  padding-right: 30px;
  padding-left: 10px;
}

.previous-day:nth-child(5) {
  border-right: none;
}

.day{
  font-size: var(--fs-h1);
}

.previous-weather-title,
//     .previous-day {
//         animation: slideUpIn 780ms forwards;
//     }
.previous-day:nth-child(1) { animation-delay: 100ms}
    .previous-day:nth-child(2) { animation-delay: 125ms}
    .previous-day:nth-child(3) { animation-delay: 150ms}
    .previous-day:nth-child(4) { animation-delay: 175ms}
    .previous-day:nth-child(5) { animation-delay: 200ms}

@keyframes slideUpIn {
      0% { 
          opacity: 0;
          transform: translateY(50%);
      }
  
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }