// .previous-days {
//   display: flex;
//   flex-direction: column;
//   justify-content:flex-start;
// }
// .previous-day{
//   display: flex;
//  justify-content: space-between;
//  padding: 0px 20px;
//  border-bottom: 2px solid var(--clr-accent);
//  align-items: center;
// }

.previous-days {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 40px 10px;
  grid-gap: 20px;
}

.previous-day {
  border-right: 3px solid var(--clr-accent);
  padding-right: 30px;
  padding-left: 10px;
}

.previous-day:nth-child(5) {
  border-right: none;
}
