// .previous-days {
//   display: flex;
//   flex-direction: column;
//   justify-content:flex-start;
// }
// .previous-day{
//   display: flex;
//  justify-content: space-evenly;
//  padding: 0px 20px;
//  border-bottom: 2px solid var(--clr-accent);
//  align-items: center;
// }
// .previous-day:nth-child(5) {
//   border-bottom: none;
// }
// .icon{
//   // padding: 0 50px;
//   align-self: center;
// }

.previous-days {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 50px 18px;
  grid-gap: 5px;
}

.previous-day {
  border-right: 3px solid var(--clr-accent);
  padding-right: 30px;
  padding-left: 10px;
}

.previous-day:nth-child(5) {
  border-right: none;
}

.day{
  font-size: var(--fs-h1);
}