.search-bar {
  display: flex;
  justify-content: flex-end;
}

.search-bar input {
  font-size: 30px;
  text-align: center;
  background: transparent;
  color: #fff;
  border: none;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--clr-accent);
}

.error{
  color: var(--clr-accent);
}