.search-bar {
  display: flex;
  justify-content: flex-end;
}

input {
  font-size: 23px;
  text-align: center;
  background: transparent;
  width: 190px;
  color: #fff;
  border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--clr-accent);
}


.error {
  color: var(--clr-accent);
  font-size: 15px;
}
