*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 60;
  --fw-normal: 120;
  --fw-semi: 200;
  --fw-bold: 250;
  --fs-h1: 22px;
  --fs-h2: 30px;
  --fs-body: 15px;
  --fs-xl: 40px;
  --clr-light: #fff;
  --clr-gray: #acabab;
  --clr-dark: #444;
  --clr-accent: #d35d5d;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.App,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  // background: rgba(39, 39, 39, 0.7);
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(15, 15, 15, 0.6)
    ),
    url("./assets//background.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light);
}

h1,
h2,
h3 {
  line-height: 1;
}

.loader {
  border: 8px solid var(--clr-accent);
  border-top: 8px solid var(--clr-light);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 18px;
}

.mainWeather {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 35px;
  min-width: 800px;
  max-width: 1000px;
  margin: 0px 10px 10px 10px;
  border-radius: 20px;

  .section-title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    margin: 0;
  }

  .reading {
    font-size: var(--fs-h1);
    margin: 0;
    padding: 1px;
    color: var(--clr-gray);
  }
}

.infoWrapper {
  // display: grid;
  // grid-template-columns: auto auto auto;
  // grid-gap: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  color: var(--clr-light);
  letter-spacing: 2px;
}
