*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 60;
  --fw-normal: 120;
  --fw-semi: 200;
  --fw-bold: 250;

  --clr-light: #fff;
  --clr-gray: #acabab;
  --clr-dark: #444;
  --clr-accent: #d35d5d;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.App,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(15, 15, 15, 0.6)),
    url("./assets//background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-light);
 height: 100vh;

}

h1,
h2,
h3 {
  line-height: 1;
}

.loader {
  border: 6px solid var(--clr-accent);
  border-top: 6px solid var(--clr-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px ;
}

.mainWeather {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 35px;
  min-width: 700px;
  max-width: 1150px;
  margin: 0px 10px 10px 10px;
  border-radius: 20px;

  .section-title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    margin: 0;
  }

  .reading {
    font-size: var(--fs-h1);
    margin: 0;
    padding: 1px;
    color: var(--clr-gray);
  }
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  color: var(--clr-light);
  letter-spacing: 2px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --fs-h1: 18px;
  --fs-h2: 20px;
  --fs-body: 13px;
  --fs-xl: 30px;
  }
  .App,body{
    height: 140vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width: 769px) {
  :root {
    --fs-h1: 21px;
  --fs-h2: 26px;
  --fs-body: 17px;
  --fs-xl: 34px;
  }
  .App,body{
    height: 130vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
  :root {
    --fs-h1: 22px;
  --fs-h2: 28px;
  --fs-body: 18px;
  --fs-xl: 35px;
  }
  .App,body{
    height: 120vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --fs-h1: 22px;
  --fs-h2: 30px;
  --fs-body: 18px;
  --fs-xl: 40px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --fs-h1: 25px;
    --fs-h2: 35px;
    --fs-body: 18px;
    --fs-xl: 45px;
      }
}
